{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Asso'esaip - Chat
{% endblock %}

{% block body %}
<main>
	<div class="text-center pt-4">
		<h1 class="display-4">Chat</h1>
		<p class="lead">Discutez avec le pôle prévention</p>
		<hr class="my-4">
	</div>
	<div id="chat">
		{% for message in messages %}
		<div class="message">
			<p>{{message.content}}</p>
			<i>{{message.messageDate|date('H:i, d/m/Y')}}</i>
		</div>
		{% endfor %}
	</div>
	<div class="form-group">
		<input type="text" class="form-control">
		<button class="btn btn-primary">Envoyer</button>
	</div>
</main>
<script>
	setInterval(() => {
		$("#chat").load('{{ asset("prevention/chat.php") }}', { userId: 512 });
	}, 5000);
</script>
{% endblock %}