{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Pôle Prévention{% endblock %}

{% block body %}
    <div class="album py-5 bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 pt-5">
                    <div id="contenu">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="home">
                                <h1 class="display-4 titre-page">Pôle Prévention</h1>
                                <h1>Présentation</h1>
                                <hr>
                                <p>{{ description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
