{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <section class="content pt-5">
        <div class="container-fluid pt-5">
            <div class="row mx-2">
                <div>
                    <h1>Informations du pôle prévention</h1>
                </div>
                <div class="ml-auto">
                    <span>
                        <button onclick="save()" class="btn btn-primary save-button">
                            Enregistrer les modifications
                        </button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 order-lg-1">
                    <div class="col-lg-8 order-lg-0" style="max-width: 1140px;">
                        <div id="contenu">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="page-home" role="tabpanel" aria-labelledby="home">
                                    <div id="summernote-home">Un </div>
                                </div>

                                    <div class="tab-pane fade" id="page-id" role="tabpanel" aria-labelledby="page-id">
                                        <div id="summernote-id">
                                            Presentation
                                        </div>
                                    </div>
                            </div>
                            <div style="display: none">
                                <div class="tab-pane fade" id="tab-template" role="tabpanel" aria-labelledby="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
