{% extends 'prevention/prevention_base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <section class="content pt-5">
        <div class="container-fluid pt-5">
            <div class="row mx-2">
                <div>
                    <h1>Informations du pôle prévention</h1>
                </div>
                <div class="ml-auto">
                    <span>
                        <button onclick="save()" class="btn btn-primary save-button">
                            Enregistrer les modifications
                        </button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-text">Infos de base</div>
                        </div>
                        <div class="card-body">
                            <div id="form-container">
                                <div class="form-group">
                                    <label for="inputDescription">Phrase de description</label>
                                    <textarea class="form-control" id="inputDescription" rows="2" maxlength="180">{{ description }}</textarea>
                                    <small class="form-text text-muted">Rédiger une phrase pas trop longue (180 caractères max) qui explique rapidement le thème du projet.</small>
                                </div>

                                <div class="form-group">
                                    <div class="custom-file">
                                        <label for="inputLogo" class="custom-file-label">Ajouter / remplacer le logo</label>
                                        <input type="file" class="custom-file-input" id="inputLogo" accept=".png,.jpg" onchange="previewLogo(this)">
                                    </div>
                                    <small id="logoHelp" class="form-text text-muted">Fichier .png transparent (sans fond blanc). Ne rien envoyer pour garder l'image actuelle.</small>
                                </div>
                                <div class="form-group">
                                    Mettre img
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
