{% set isAdmin = is_granted('ROLE_ADMIN') %}
{% set campus = isAdmin ? 'A' : app.user.campus %}

{% for category in categories | filter(category => category.projects is not empty) %}
    {% set array = category.projects | filter(project => campus in project.campus) %}
    {% if array is not empty %}
        <a class="dropdown-item" href="{{ path('category', {url: category.url}) }}">{{ category.name }}</a>
    {% endif %}
{% endfor %}