{% extends 'espace_assos/espasso_base.html.twig' %}

{% block header %}Aucun projet :({% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                Tu n'es rédacteur ou administrateur d'aucun club ... Si c'est une erreur, contacte le responsable de ton club. <br>Si tu es le responsable de ton club, contacte <a href="mailto:lbregeault@esaip.org">Laurène BREGEAULT</a> ou <a href="mailto:bde.angers@esaip.org">le BDE du campus d'Angers</a>, pour avoir accès à ton espace asso.
                            </p>
                            <div>Tu as quand même accès à toutes les fiches pratiques pour te lancer dans la vie associative !</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}