//$esaip-color: #009bc2;
$esaip-color: #0077b6;

.bg-esaip {
    background-color: $esaip-color;
}

.border-esaip {
    border-color: $esaip-color;
}

.news-badge {
    position: absolute;
    right: 20px;
    bottom: -12px;
}

@font-face {
    font-family: "Nunito";
    src: url("/build/fonts/Nunito-Regular.ttf");
}

body {
    font-family: "Nunito", serif;
}

.navbar-esaip {
    background-color: $esaip-color;
}

.navbar-esaip .nav-link, .navbar-brand {
    color: #eaeaea;
}

.navbar-esaip .nav-link:hover, .navbar-esaip .active .nav-link {
    color: #fff
}

.navbar-esaip .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-esaip .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.easy-autocomplete.eac-bootstrap input {
    border-radius: 20px;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}

@media (max-width: 990px) {
    .home-categ-list {
        display: none;
    }
}

body {
    background-color: #e9ecef;
}

.esaip-color {
    color: $esaip-color;
}

// Marge de la navbar
main {
    margin-top: 60px;
}

// Diviseur entre Accueil _ Calendrier et les catégories dans la navbar
// + liste des categ sur pc (avec projets) ou mobile (sans projet)
@media (min-width: 1200px) {
    .divider-vertical {
        height: 20px;
        margin: 0 9px;
        border-left: 1px solid #eaeaea;
    }
    #nav-categories-dropdown {
        display: none;
    }
}

@media (max-width: 1200px) {
    #nav-projects-dropdown {
        display: none;
    }
}

@media (min-width: 1100px) {
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 10px;
    }
}

@media (max-width: 1100px) {
    .col-md-2 {
        flex: inherit;
        max-width: inherit;
    }
}

a:not(.dropdown-item) {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-link {
    transition: box-shadow .2s;
    animation-name: card-appear;
    animation-duration: 2s;
    animation-delay: .5s;
}

.card-link:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.3);
}

@keyframes card-appear {
    from {

    }

    50% {
        box-shadow: 0 0 15px rgba(33,33,33,.3);
    }

    to {

    }
}

.asso-category {
    margin-top: 30px;
}

.home-header {
    padding: 2rem 0;
    background-color: #eeeeee;
}

.easy-autocomplete{
    width:100% !important
}

.easy-autocomplete input{
    width: 100%;
}

@media (max-width: 1200px) {
    .titre-page {
        font-size: 2.5rem;
    }

    .side-content h1 {
        margin-top: 30px;
    }
}

/* Fix word wrap internet explorer */
.card {
    width: 100%;
}

.btn, .nav-pills .nav-link, .nav-pills .active, .card, .card-body, .fc-scroller, .btn-group-toggle .btn, .alert, .list-group {
    border-radius: 1.25rem;
}

.card-header:first-child {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}

.card-footer, .card-footer:last-child {
    border-radius: 0 0 calc(1.25rem - 1px) calc(1.25rem - 1px);
}

/* Barre de défilement dans le menu sur mobile */
.navbar-collapse.collapse.show {
    max-height: 420px;
    overflow-y: auto;
}

.list-group-item {
    overflow: hidden;
    display: table;
}

.list-group-item > div {
    display: table-cell;
    vertical-align: middle;
}

.pas-de-lien, .pas-de-lien:visited {
    color: black;
    text-decoration: none;
}

.pas-de-lien:hover {
    color: $esaip-color;
    text-decoration: none;
}

.article-page-projet {
    margin-bottom: 10px;
}

/* Corriger le mauvais affichage des éléments de liste sur firefox et edge */
.list-group li {
    width: 100%
}

// Fix FC
.fc-widget-content .fc-scroller {height: auto !important;}

/* Social icons */
.social a {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.social a i {
    transition: 0.3s;
}

.social a i:hover {
    filter: brightness(70%);
}

.fb, .fb:link {
    color: #4267b2;
}

.twt, .twt:link, .twt:hover {
    color: #1da1f2;
}

.mail, .mail:link {
    color: #0078d7;
}

.insta, .insta:link, .insta:hover {
    color: #d21d54;
}

.snap, .snap:link, .snap:hover {
    color: #ffc75b;
}

.yt, .yt:link {
    color: red;
}

.discord, .discord:link {
    color: #6e84d4;
}