$esaip-color: #009bc2;

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}

body {
    background-color: #e9ecef;
}

.esaip-color {
    color: $esaip-color;
}

// Marge de la navbar
main {
    margin-top: 60px;
}

// Diviseur entre Accueil _ Calendrier et les catégories dans la navbar
@media (min-width: 1200px) {
    .divider-vertical {
        height: 20px;
        margin: 0 9px;
        border-left: 1px solid #878787;
    }
}

@media (min-width: 1100px) {
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 10px;
    }
}

@media (max-width: 1100px) {
    .col-md-2 {
        flex: inherit;
        max-width: inherit;
    }
}

a:not(.dropdown-item) {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-link {
    transition: box-shadow .2s;
    animation-name: card-appear;
    animation-duration: 2s;
    animation-delay: .5s;
}

.card-link:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.3);
}

@keyframes card-appear {
    from {

    }

    50% {
        box-shadow: 0 0 15px rgba(33,33,33,.3);
    }

    to {

    }
}

.asso-category {
    margin-top: 30px;
}

.home-header {
    padding: 2rem 0;
    background-color: #e9ecef;
}

.easy-autocomplete{
    width:100% !important
}

.easy-autocomplete input{
    width: 100%;
}

@media (max-width: 1200px) {
    .titre-page {
        font-size: 2.5rem;
    }

    .side-content h1 {
        margin-top: 30px;
    }
}

/* Fix word wrap internet explorer */
.card {
    width: 100%
}

/* Barre de défilement dans le menu sur mobile */
.navbar-collapse.collapse.show {
    max-height: 420px;
    overflow-y: auto;
}

.list-group-item {
    overflow: hidden;
    display: table;
}

.list-group-item > div {
    display: table-cell;
    vertical-align: middle;
}

.pas-de-lien, .pas-de-lien:visited {
    color: black;
    text-decoration: none;
}

.pas-de-lien:hover {
    color: $esaip-color;
    text-decoration: none;
}

.article-page-projet {
    margin-bottom: 10px;
}

hr {
    margin-bottom: 1.5rem!important;
}

/* Corriger le mauvais affichage des éléments de liste sur firefox et edge */
.list-group li {
    width: 100%
}

// Fix FC
.fc-widget-content .fc-scroller {height: auto !important;}

/* Social icons */
.social a {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.social a i {
    transition: 0.3s;
}

.social a i:hover {
    filter: brightness(70%);
}

.fb, .fb:link {
    color: #4267b2;
}

.twt, .twt:link, .twt:hover {
    color: #1da1f2;
}

.mail, .mail:link {
    color: #0078d7;
}

.insta, .insta:link, .insta:hover {
    color: #d21d54;
}

.snap, .snap:link, .snap:hover {
    color: #ffc75b;
}

.yt, .yt:link {
    color: red;
}

.discord, .discord:link {
    color: #6e84d4;
}