<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asso'esaip</title>

    {{ encore_entry_link_tags('app') }}
</head>
<body style="margin: 0; background-color: #fff">
<div style="width: 100%; height: 50%; position: fixed; border-radius: 0 0 75px 0" class="text-center bg-esaip">

   <div class="container">
       <div class="row pt-5">
           <div class="col-md-auto">
               <img style="height: 200px; width: 200px" src="{{ asset('build/images/icons/android-chrome-256x256.png') }}">
           </div>
           <div class="col-md text-white my-auto" style="font-size: 4em">
               Bienvenue sur Asso'esaip
           </div>
       </div>
   </div>

</div>
<div style="width: 100%; height: 50%; position: fixed; bottom: 0;" class="bg-esaip">

</div>
<div style="width: 100%; height: 50%; background-color: #fff; position: fixed; bottom: 0; border-radius: 75px 0 0 0" class="text-center">
    <p class="pt-5 px-1" style="font-size: x-large">
        Découvre les clubs et assos de ton campus, leurs actus et les prochains événements.
    </p>
    <a href="{{ url('connect_azure_start') }}" class="btn btn-primary btn-lg" style="bottom: 100px; position: fixed">Connexion</a>
</div>

</body>
</html>