<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BDE ESAIP Angers">
    <meta name="theme-color" content="#212529">

    <title>Asso'esaip - Maintenance</title>

    <link rel="icon" href="{{ asset('build/images/icons/fav.ico') }}" type="image/x-icon" />
    {{ encore_entry_link_tags('app') }}
</head>
<body>

<main>
    <div class="jumbotron text-center">
        <h1 class="display-4"><i class="fas fa-exclamation-triangle"></i></h1>
        <h1 class="display-4">Site en maintenance</h1>
        <p class="lead">
            {{ message }}
        </p>
        <a href="{{ url('connect_azure_start') }}">Connexion admin</a>

        <hr class="my-4">
    </div>
</main>

</body>
</html>
