<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Migration</title>
</head>
<body>
<main role="main">
    <div class="jumbotron text-center">
        <h1 class="display-4">Migration de la BDD</h1>
    </div>
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

</body>
</html>


