{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block message %}
    Une erreur interne au serveur est survenue. Si cette erreur continue de s'afficher, merci de contacter <a
        href="mailto:asso@esaip.org">asso@esaip.org</a>.
{% endblock %}